:root {
    --primary: #011d2e;
    --secondary: #E45656;
    --white: #FFFFFF;
    --grey: #616161;
}

.primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.white {
    color: var(--white);
}

.grey {
    color: var(--grey);
}